<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
</div>
                            </div>
                        </div>

                    </div>
                    <!-- end row -->
                </div>
 </div>
            <!-- end page content-->
          </div>
          <!-- container-fluid -->
        </div>
        <!-- content -->
 <footer class="footer">
          © 2018 Agroxa
          <span class="d-none d-sm-inline-block"
            >- Crafted with <i class="mdi mdi-heart text-danger"></i> by
            Themesbrand.</span
          >
        </footer>
      </div>

      <!-- ============================================================== -->
      <!-- End Right content here -->
      <!-- ============================================================== -->
    </div>
    <!-- END wrapper -->

    <!-- jQuery  -->
    <script src="../../SisAlcanciaFeliz/assets/js/jquery.min.js"></script> 
    
    
    <script src="../../SisAlcanciaFeliz/assets/js/bootstrap.bundle.min.js"></script>
   
    <script src="../../SisAlcanciaFeliz/assets/js/metisMenu.min.js"></script>
    <script src="../../SisAlcanciaFeliz/assets/js/jquery.slimscroll.js"></script>
    <script src="../../SisAlcanciaFeliz/assets/js/waves.min.js"></script>

    <script src="../../SisAlcanciaFeliz/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>

    <!-- Peity JS -->
    <script src="../../SisAlcanciaFeliz/plugins/peity/jquery.peity.min.js"></script>

    <script src="../../SisAlcanciaFeliz/plugins/morris/morris.min.js"></script>
    <script src="../../SisAlcanciaFeliz/plugins/raphael/raphael-min.js"></script>

    <script src="../../SisAlcanciaFeliz/assets/pages/dashboard.js"></script>

    <!-- App js -->
    <script src="../../SisAlcanciaFeliz/assets/js/app.js"></script>
  </body>
</html>